body{
    background-color: whitesmoke;
}

#ContenedorText{
    margin: auto;
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 23px 21px 25px -16px rgba(0,0,0,0.23);
    -moz-box-shadow: 23px 21px 25px -16px rgba(0,0,0,0.23);
    box-shadow: 23px 21px 25px -16px rgba(0,0,0,0.23);
    }
#Herramientas{
    width: 600px;
    background-color: rgb(230, 229, 232);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}

#TextoAviso{
    padding: 10px;
    height: auto;
}

#TextoAviso #textareas{
    width: 100%;
    height: 330px;
}