#AggUsuario{
    display: none;
}

.activeUsuario{
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina espacios entre celdas */
    margin: 20px 0;
}
th, td {
    padding: 10px; /* Espaciado dentro de las celdas */
    text-align: left; /* Alineación del texto */
    border: 1px solid #ddd; /* Borde de las celdas */
}
td{
    font-weight: 100;
}
th {
    background-color: #f2f2f2; /* Color de fondo para el encabezado */
    color: #333; /* Color del texto */
}
tr:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el mouse */
}

button{
    color: whitesmoke;
    background-color: rgba(108, 192, 74, 1);
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    font-size: large;
    padding: 5px 15px
    
  }
 
button:hover{
    background-color: rgba(108, 192, 74, .7);
    cursor: pointer;
}
li{
    cursor: pointer;
}
.ContenedorBotones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

